<?xml version="1.0" encoding="UTF-8"?>  

<widget.xmlns ="http://www.w3.org/ns/widgets"
   xmlns:gap ="http://phonegap.com/ns/1.0"
   id ="com.phonegap.app3"
   version ="1.0.0">
   
   <name> app3-2019 Dia Mundial de la Salud-7 Abril </name>
   
   <description>
   Aplicacion que nos muestra la informacion referente al Dia Mundial de la Salud
   </description>
   
   <author href="https://build.phonegap.com" email="cb16.tepoz.ximil.andrea@gmail.com">
   andrea tepoz ximil
   </author>
   
   <!--Personaliza la aplicacion y plataforma -->
   <preference name="orientation" value="default"/>
   <!--<preference name="orientation"  value="portrait" />
   <--preference name="orientation" value="landscape" /> -->
   <preference name="target-device"  value="universal" />
   <preference name="fullscreen" value="true"  />
   <preference name="android-installLocation" value="auto" />
   <preference name="permissions" value="INTERNET" />
   
 <!--Para accesar a paginas de internet-->
 <allow-intent href="https://*/*"/>
 <acces origin="https://*/*"/>
 <allow-intent href="https://*/*"/>
 <acces origin="https://*/*"/>
 <plugin name="cordova-plugin-whitelist" source="npm"/>
   
   <!-- Colocar icono app -->
   <icon src="res/android/mdpi.png" />
   
   </widget>